@font-face {
    src: url("Gold-Regular.ttf");
}

.text-area {
    -fx-font-family: Gold;
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}
.text-area *.text {
    -fx-text-alignment: center;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
/* Prevent the scrollbar from ever appearing by not allowing it to even grow.
   Stylistically, the scrollbar clutters the view, a bit of an eyesore. */
.text-area .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.text-field {
    -fx-font-family: Gold;
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

.label {
    -fx-font-family: Gold;
    -fx-alignment: BOTTOM-LEFT;
}

.button {
    -fx-padding: 0 0 0 0;
    -fx-font-family: Gold;
    -fx-max-height: infinity;
    -fx-max-width: infinity;
}

.toggle-button {
    -fx-padding: 0 0 0 0;
    -fx-font-family: Gold;
    -fx-max-height: infinity;
    -fx-max-width: infinity;
}

.menu-item:hover {
    -fx-background-color: rgba(48, 135, 255, 0.67);
}

.menu-item {
    -fx-background-color: transparent;
}

.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

.menu-item:focused,
.menu-item:hover {
    -fx-background-color: rgba(48, 135, 255, 0.67);
}

.menu-item .label,
.menu-item:focused .label,
.menu-item:hover .label {
    -fx-text-fill: white;
}

.radio-menu-item,
.radio-menu-item:hover {
    -fx-mark-color: white;
    -fx-focused-mark-color: white;
}

.context-menu {
    -fx-background-image: url("keypad_texture.png");
}

#settings {
    -fx-graphic: url("settings_icon32x32.png");
    -fx-font-family: Gold;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
    -fx-background-image: none;
}

#settings .label {
    -fx-label-padding: 0 0 0 0;
    -fx-padding: 0.1em 0.1em 0.1em 0.1em;
}
#settings:hover {
    -fx-effect: innershadow(gaussian, rgba(64, 64, 64, 0.334), 8, 0.667, 0, 0);
}
#settings:showing {
    -fx-background-image: url("keypad_texture.png");
    -fx-effect: innershadow(gaussian, rgba(64, 64, 64, 0.334), 8, 0.667, 0, 0);
}

/* Prevent dropdown arrow from appearing on settings drop button. */
#settings > .arrow-button {
    -fx-padding: 0;
}
#settings > .arrow-button > .arrow {
    -fx-padding: 0;
}


#keypad {
    -fx-background-image: url("keypad_texture.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-pref-height: 100%;
    -fx-pref-width: 100%;
}

#display {
    /*-fx-alignment: CENTER;*/
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-color: #000000;
    -fx-background-color: #D4D4D4;
}

#keypad_digit {

}

#keypad_shift {
    -fx-background-color: linear-gradient(#ebda73, #ebd33f);
}
#keypad_shift:hover {
    -fx-background-color: linear-gradient(#ebe2a0, #ebd55b);
}
#keypad_shift:pressed {
    -fx-background-color: linear-gradient(#e1d877, Gold);
}
#keypad_shift:selected {
    -fx-background-color: linear-gradient(Gold, #aa8600);
}

#keypad_operator {
    -fx-background-color: linear-gradient(#c3c3d7, #b1b1c3);
}
#keypad_operator:hover {
    -fx-background-color: linear-gradient(#d2d2e6, #c4c4d7);
}
#keypad_operator:pressed {
    -fx-background-color: linear-gradient(#b9b9cd, #a2a2b4);
}

#keypad_memory {
    -fx-background-color: linear-gradient(#f5ad7f, #eb904d);
}
#keypad_memory:hover {
    -fx-background-color: linear-gradient(#f5bea0, #eb965d);
}
#keypad_memory:pressed {
    -fx-background-color: linear-gradient(#f5a384, #eb8651);
}

#keypad_erase {
    -fx-background-color: linear-gradient(#f57468, #eb5140);
}
#keypad_erase:hover {
    -fx-background-color: linear-gradient(#f58e83, #eb5a4d);
}
#keypad_erase:pressed {
    -fx-background-color: linear-gradient(#f56657, #eb4636);
}

#keypad_function {
    -fx-background-color: linear-gradient(#5ca1f5, #458aeb);
}
#keypad_function:hover {
    -fx-background-color: linear-gradient(#7db8f5, #5494eb);
}
#keypad_function:pressed {
    -fx-background-color: linear-gradient(#539ef5, #3a7feb);
}